@import models.ui.Pager
@import models.users.forms.Filter
@import models.ui.SortOrder

@import models.users.User
@import models.users.UserStatus
@(
        users: Seq[User],
        userStatuses: Seq[UserStatus],
        pager: Pager,
        filterForm: Form[Filter],
        sortOrderForm: Form[SortOrder])(implicit messages: Messages)

@import views.html.helpers.layouts.main
@import views.html.helpers.pager.pagerHelper
@import views.html.helpers.forms.inputCheckboxGroup
@import views.html.helpers.forms.inputDate
@dateFormat = {yyyy-MM-dd HH:mm}
@import spray.http.Uri
@import utils.date.DateUtils.DateTimeFormatterUtils
@import models.ui.SortField

@main(title = Messages("users")) {
    <div class="row main-panels">
        <div class="col-md-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">@Messages("filter") <span class="glyphicon glyphicon-search"></span></div>
                    <div class="panel-body">
                    @helper.form(action = controllers.routes.Application.list(1), 'role -> "form", 'class -> "formFilter") {
                        <div class="form-group">
                            @inputCheckboxGroup(
                                filterForm("statusIds"),
                                options = userStatuses.map(t => t.id.toString -> t.name)
                            )
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                @helper.inputText(
                                    filterForm("name"),
                                    'class -> "name",
                                    '_showConstraints -> false
                                )
                            </div>
                            <div class="col-lg-6">
                                @helper.inputText(
                                    filterForm("surname"),
                                    'class -> "name",
                                    '_showConstraints -> false
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                            @inputDate(
                                filterForm("dateCreatedFrom"),
                                '_showConstraints -> false
                            )
                            </div>
                            <div class="col-lg-6">
                            @inputDate(
                                filterForm("dateCreatedUntil"),
                                '_showConstraints -> false
                            )
                            </div>
                        </div>
                        <dl class="submit">
                            <button type="submit" name="filter" class="btn btn-primary submit">
                                <span class="glyphicon glyphicon-search"></span> @Messages("filter")
                            </button>
                        </dl>
                    }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>@Messages("users")</h2>
            <table class="table table-striped table-condensed reportsTable">
                <thead>
                    <tr>
                        @sortUrl(SortField.Id)
                        @sortUrl(SortField.Name)
                        @sortUrl(SortField.Surname)
                        @sortUrl(SortField.DateCreated)
                    </tr>
                </thead>
                <tbody>
                    @for(u <- users) {
                        <tr>
                            <td>@u.id</td>
                            <td>@u.name</td>
                            <td>@u.surname</td>
                            <td>@u.created.format(dateFormat.toString)</td>
                        </tr>
                    }
                    @if(users.isEmpty) {
                        <tr>
                            <td colspan="9">@Messages("noRecords")</td>
                        </tr>
                    }
                </tbody>
            </table>
            @pagerHelper(pager.currentPage, pager.pageSize, pager.totalResults, filterUrl)
        </div>
    </div>
}

@filterUrl(page: Int) = @{
    Uri(controllers.routes.Application.list(page).url).withQuery(filterForm.data ++ sortOrderForm.data).toString()
}

@sortDirection(isActive: Boolean, sortOrder: SortOrder) = @{
    if(isActive) {
        !sortOrder.desc
    } else {
        sortOrder.desc
    }
}

@sortArrow(isActive: Boolean, sortOrder: SortOrder) = {
    @if(isActive) {
        @if(sortOrder.desc) {
            <span class="glyphicon glyphicon-triangle-bottom sortArrow" aria-hidden="true"></span>
        } else {
            <span class="glyphicon glyphicon-triangle-top sortArrow" aria-hidden="true"></span>
        }
    }
}

@sortUrl(field: SortField) = {
    @defining(sortOrderForm.get) { sortOrder =>
        @defining(field == sortOrder.field) { isActive =>
            <th @if(isActive){class="text-nowrap"}>
                @sortArrow(isActive, sortOrder)
                <a class="text-no" href="@Uri(controllers.routes.Application.list(1).url).withQuery(
                    filterForm.data ++ sortOrderForm.data + ("sortBy" -> field.toString) + ("desc" -> sortDirection(isActive, sortOrder).toString())
                ).toString()">
                    @Messages("sortFields." + field.toString)
                </a>
            </th>
        }
    }
}